html {
  background-image: url("../assets/ui-bg-pattern.png");
  background-repeat: repeat;
  background-color: #29252a;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  touch-action: none;
}
@font-face {
  font-family: neodgm;
  src: url('../assets/neodgm.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}